<!-- Footer -->
<div id="footer-wrapper">
  <section id="footer" class="container">
    <div class="row">
      <div class="4u 12u(mobile)">
        <section>
          <header>
            <h2>Worum geht es hier?</h2>
          </header>
          <a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
          <p>
            <strong>Diesel-Fahrverbot.de</strong> ist eine Website, entwickelt um allen zu helfen, die 
            durch den Wertverlust der Diesel-KFZs betroffen sind.
          </p>
        </section>
      </div>
      <div class="4u 12u(mobile)">
        <section>
          <header>
            <h2>Kontaktdaten</h2>
          </header>
          <ul class="contact">
            <li>
              <h3>Addresse</h3>
              <p>{{this.adresseName}}<br />
                {{this.strasse}} {{this.hausnummer}}<br />
                {{this.plz}} {{this.stadt}}
                {{this.land}}</p>
            </li>
            <li>
              <h3>Email</h3>
              <p>{{this.email}}</p>
            </li>
            <li>
              <h3>Telefon</h3>
              <p>{{this.telefon}}</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <!-- <div class="row">
      <div class="4u 12u(mobile)">
        <section>
          <header>
            <h2>Tempus consequat</h2>
          </header>
          <ul class="divided">
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
          </ul>
        </section>
      </div>
      <div class="4u 12u(mobile)">
        <section>
          <header>
            <h2>Ipsum et phasellus</h2>
          </header>
          <ul class="divided">
            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
          </ul>
        </section>
      </div>
      
    </div> -->
    <div class="row">
      <div class="12u">
        <!-- Copyright -->
          <div id="copyright">
            <ul class="links">
              <li>&copy; Diesel-Fahrverbot.de All rights reserved.</li>
              <li><a routerLink="impressum" routerLinkActive="active">Impressum </a></li>
            </ul>
          </div>
      </div>
    </div>
  </section>
</div>