<!-- Banner -->
<section id="banner">
  
</section>
<!-- Intro -->
<section id="intro" class="container">
  <div class="row">
    <div class="4u 12u(mobile)">
      <section class="first">
        <a routerLink="/rechtsanwaltsFeed" routerLinkActive="active">
          <i class="icon featured fa-gavel"></i>
          <header>
            <h2>Rechtsanwalt finden!</h2>
          </header>
        </a>
        <p>Sie möchten VW auf Schadensersatz wegen Ihres KFZs verklagen? Hier finden Sie einen passenden Rechtsanwalt!</p>
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="middle">
        <i class="icon featured alt fa-euro"></i>
        <header>
          <h2>Fahrzeug verkaufen! (Bald verfügbar)</h2>
        </header>
        <p>Sie möchten Ihren Diesen verkaufen, aber keiner will Ihn haben? Hier finden Sie Händler, die Ihren Wagen für einen guten Preis kaufen!</p>
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="last">
        <i class="icon featured alt2 fa-star"></i>
        <header>
          <h2>Dienstleistungen bewerten (Bald verfügbar)</h2>
        </header>
        <p>Wählen Sie den besten Dienstleister anhand von Userbewertungen aus und bewerten Sie selber!</p>
      </section>
    </div>
  </div>
  <footer>
    <ul class="actions">
      <li><a routerLink="/rechtsanwaltsFeed" routerLinkActive="active" class="button big">Jetzt Geld zurückholen!</a></li>
    </ul>
  </footer>
</section>